// ==============================================
// PAGE HEADER / ACTION BAR =====================
// ==============================================

.page-header {
    padding: $l-size 0;
    margin-bottom: $l-size;
    background: $off-white;

    &__title {
        margin: 0;
        font-weight: 300;

        em {
            font-weight: bold;
            font-style: normal;
        }
    }

    &__actions {
        margin-top: $m-size;
    }
}
